{% extends"base.html" %}
{% block content%} 
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action = "http://localhost:8080/update_user" method = "post">
                        <p>Id:</p>
                        <p><input type = "text" name = "id" value="{{user.id}}" readonly/></p>
                        <p>Username:</p>
                        <p><input type = "text" name = "username" value="{{user.username}}" required/></p>
                        <p>Email:</p>
                        <p><input type = "text" name = "email" value="{{user.email}}" required/></p>
                        <p>Password:</p>
                        <p><input type = "password" name = "password" required/></p>
                        <p>Role:</p>
                        <select name="role_type" id="inputs" required>
                            {% for role in all_roles %}
                                {% if user.get_this_user_role().id==role.id%}
                                    <option selected="selected">{{ role.name }}</option>
                                {% else %}
                                    <option>{{ role.name }}</option>
                                {%endif%}
                            {% endfor %}
                        </select>
                        <p><input type = "submit" value = "Alterar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}