{% extends"base.html" %}
{% block content%} 
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action = "http://localhost:8080/update_actuator" method = "post">
                        <p>Id:</p>
                        <p><input type = "text" name = "id" value="{{actuator.id}}" readonly/></p>
                        <p>Nome:</p>
                        <p><input type = "text" name = "name" value="{{actuator.name}}" required/></p>
                        <p>Tópico:</p>
                        <p><input type = "text" name = "topic" value='{{actuator.topic}}' required/></p>
                        <div>
                            {% if actuator.is_active == true %}
                                <input type="checkbox" id="is_active" name="is_active" checked />
                            {% else %}
                                <input type="checkbox" id="is_active" name="is_active" />
                            {% endif %}    
                            <label for="is_active">Ativo?</label>
                        </div>
                        <p><input type = "submit" value = "Alterar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}